<?xml version="1.0" ?>
<launch>
    <!-- This file sets up and launches the core components for the simulation of the robot -->
    <include file="$(find maru2_gazebo)/launch/room_headless.launch"/> <!-- Spawn a seperate gzclient to view -->
    <include file="$(find maru2_description)/launch/maru2_spawn.launch"/>
    <!-- Add some simulated sensors -->
    <include file="$(find maru2_description)/launch/maru2_ex_sensors.launch"/>
    <!-- Export the control middleman -->
    <include file="$(find maru2_description)/launch/maru2_ex_cmdvel.launch"/>

    <!-- start pose estimation, give some time for everything to set up -->
    <!-- removed from launch script because it crashes. Run separately with rosrun pose_est pose_est.py cmd_vel:=/robot/cmd_vel_raw odom:=/robot/move_odom imu:=/robot/imu gps:=/robot/gps -->
    <!--<node name="pose_est" pkg="pose_est" type="pose_est.py"
          launch-prefix="bash -c 'sleep 5.0; $0 $@'" >
        <remap from="cmd_vel" to="/robot/cmd_vel_raw"/>
        <remap from="odom" to="/robot/move_odom"/>
        <remap from="imu" to="/robot/imu"/>
        <remap from="gps" to="/robot/gps"/>
    </node>-->
</launch>
