<?xml version="1.0" ?>
<launch>
    <include file="$(find teleop)/launch/base.launch"/>
    <node name="simple_twist_controller" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
          output="screen" required="true" launch-prefix="bash -c 'sleep 2.0; $0 $@'" >
        <remap from="cmd_vel" to="maru2/cmd_vel"/>
    </node>
</launch>
